@mixin markdown() {
  .MathJax {
    font-size: 110%;
  }
  table {
    border-collapse: collapse;
  }
  th {
    padding: 0.2em 1em;
  }
  td {
    padding: 0.5em 1em;
  }
  th,
  td {
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
  }
  pre code {
    @include block-code();
  }
}
