@import 'styles/variables';

@mixin markdown() {
  line-height: 1.3em;
  :deep(li) {
    line-height: 1.4em;
  }

  :deep(.MathJax) {
    font-size: 110%;
  }
  :deep(table) {
    border-collapse: collapse;
    margin-bottom: 12px;
  }
  :deep(tr:nth-child(even)) {
    background-color: #f8f7f0;
  }
  :deep(th) {
    padding: 0.4em 1em;
  }
  :deep(td) {
    padding: 0.6em 1.5em;
  }
  :deep(th),
  :deep(td) {
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
  }
  :deep(pre code) {
    @include block-code();
  }

  :deep(p), > :deep(ul), :deep(ol) {
    margin-bottom: .6em;
  }

  :deep(h1) {
    margin-top: 1.5em;
    margin-bottom: 0.6em;
  }
  :deep(h2) {
    margin-top: 1.2em;
    margin-bottom: 0.6em;
  }
  :deep(h3) {
    margin-top: 1em;
    margin-bottom: 0.4em;
  }

  :deep(img) {
    max-width: 100%;
  }

  :deep(div.code-math) {
    width: 100%;
    background: #eeeeee;
    color: black;
    padding: 0.5em;
    margin: 0.5rem 0;
    font-size: 1em;
    font-weight: normal;
    overflow: auto;

    p {
      margin-bottom: unset;
    }

    eq {
      margin-right: 4px;
    }

    &:before,
    &:after {
      content: none;
    }
  }

  :deep(details) {
    summary {
      display: block;
      cursor: pointer;
      margin: -12px;
      padding: 12px;

      &::after {
        position: absolute;
        right: 24px;
        display: inline-block;
        font-family: "Material Design Icons";
        font-size: 30px;
        content: "\F035D";
      }
    }
    &[open] summary {
      border-bottom: solid 1px #000000;
      margin-bottom: 12px;
      &::after {
        content: "\F0360";
      }
    }

    border: solid 1px #000000;
    border-radius: 4px;
    padding: 12px;
  }

  :deep(blockquote) {
    border-left: 6px solid #a0a0a0;
    padding: 0 0 0 1em;
    margin: 0;
  }
}
