@import 'styles/variables';

@mixin markdown() {
  line-height: 1.3em;
  :deep(li) {
    line-height: 1.4em;
  }

  :deep(.MathJax) {
    font-size: 110%;
  }
  :deep(table) {
    border-collapse: collapse;
    margin-bottom: 12px;
  }
  :deep(tr:nth-child(even)) {
    background-color: #f8f7f0;
  }
  :deep(th) {
    padding: 0.4em 1em;
  }
  :deep(td) {
    padding: 0.6em 1.5em;
  }
  :deep(th),
  :deep(td) {
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
  }
  :deep(pre code) {
    @include block-code();
  }

  > :deep(p), > :deep(ul), :deep(ol) {
    margin-bottom: .6em;
  }

  :deep(h1) {
    margin-top: 1.5em;
    margin-bottom: 0.6em;
  }
  :deep(h2) {
    margin-top: 1.2em;
    margin-bottom: 0.6em;
  }
  :deep(h3) {
    margin-top: 1em;
    margin-bottom: 0.4em;
  }

  :deep(div.code-math) {
    width: 100%;
    background: #eeeeee;
    color: black;
    padding: 0.5em;
    margin: 0.5rem 0;
    font-size: 1em;
    font-weight: normal;
    overflow: auto;

    eq {
      margin-right: 4px;
    }

    &:before,
    &:after {
      content: none;
    }
  }
}
