@import 'styles/variables';

@mixin markdown() {
  :deep(.MathJax) {
    font-size: 110%;
  }
  :deep(table) {
    border-collapse: collapse;
  }
  :deep(th) {
    padding: 0.2em 1em;
  }
  :deep(td) {
    padding: 0.5em 1em;
  }
  :deep(th),
  :deep(td) {
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
  }
  :deep(pre code) {
    @include block-code();
  }

  :deep(div.code-math) {
    width: 100%;
    background: #eeeeee;
    color: black;
    padding: 0.5em;
    margin: 0.5rem 0;
    font-size: 1em;
    font-weight: normal;
    overflow: auto;

    eq {
      margin-right: 4px;
    }

    &:before,
    &:after {
      content: none;
    }
  }
}
